@import "./utils/vars";
@import "./components/sections";
@import "./components/navigation";
@import "./components/footer";
@import "./components/modal";

body {
    font-family: "Roboto", sans-serif;
    color: $dark-black;
    margin: 0;
  }



  


  