@import "./utils/vars";
@import "./components/sections";
@import "./components/navigation";
@import "./components/mainbanner";
@import "./components/lorem4x";
@import "./components/whatwedo";
@import "./components/members";
@import "./components/our-customers";
@import "./components/footer";
@import "./components/modal";

body {
  font-family: "Roboto", sans-serif;
  color: $dark-black;
  margin: 0;
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  font-size: 36px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
