@import "./utils/vars";
@import "./components/sections";
@import "./components/navigation";
@import "./components/mainbanner";
@import "./components/lorem4x";
@import "./components/whatwedo";
@import "./components/members";
@import "./components/our-customers";
@import "./components/footer";
@import "./components/modal";

body {
  font-family: "Roboto", sans-serif;
  color: $dark-black;
  margin: 0;
}


ul {
  list-style: none;
  padding-inline-start: 0px;
}


