@import "../utils/vars";
@import "../components/navigation";
@import "../components/sections";
@import "../components/footer";
@import "../components/modal";
@import "../components/portfolio";

h1
{
    color: red;
    color: red;
border-radius: 4px;
border-radius: 2px;

}